/*
00 - colpick Color Picker
------------------------------------------------------------*/
.colpick {
  background: #FFF;
  border: 1px solid #CCC;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  height: 170px;
  margin-top: 3px;
  position: absolute;
  width: 346px;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  &:before {
    border-bottom: 9px solid;
    border-bottom-color: inherit;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: '';
    display: inline-block;
    left: 7px;
    position: absolute;
    top: -9px;
  }
  &:after {
    border-bottom: 8px solid;
    border-bottom-color: #FFF;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: '';
    display: inline-block;
    left: 8px;
    position: absolute;
    top: -8px;
  }
}

.colpick_flat {
  display: block;
  overflow: hidden;
  position: relative;
}

.colpick_color {
  cursor: crosshair;
  height: 156px;
  left: 7px;
  outline: 1px solid #aaa;
  overflow: hidden;
  position: absolute;
  top: 7px;
  width: 156px;
}

.colpick_color_overlay1 {
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff')";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#ffffff', endColorstr='#00ffffff');
  height: 156px;
  left: 0;
  position: absolute;
  top: 0;
  width: 156px;
}

.colpick_color_overlay2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#000000')";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00000000', endColorstr='#000000');
  height: 156px;
  left: 0;
  position: absolute;
  top: 0;
  width: 156px;
}

.colpick_selector_outer {
  background: none;
  border: 1px solid black;
  border-radius: 50%;
  height: 13px;
  margin: -7px 0 0 -7px;
  position: absolute;
  width: 13px;
}

.colpick_selector_inner {
  border: 2px solid white;
  border-radius: 50%;
  height: 11px;
  position: absolute;
  width: 11px;
}

.colpick_hue {
  border: 1px solid #aaa;
  cursor: n-resize;
  height: 156px;
  left: 175px;
  position: absolute;
  top: 6px;
  width: 19px;
}

.colpick_hue_arrs {
  height: 7px;
  left: -8px;
  margin: -7px 0 0 0;
  position: absolute;
  width: 35px;
}

.colpick_hue_larr {
  border-bottom: 6px solid transparent;
  border-left: 7px solid #858585;
  border-top: 6px solid transparent;
  height: 0;
  position: absolute;
  width: 0;
}

.colpick_hue_rarr {
  border-bottom: 6px solid transparent;
  border-right: 7px solid #858585;
  border-top: 6px solid transparent;
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
}

.colpick_new_color {
  background: #f00;
  height: 25px;
  left: 207px;
  position: absolute;
  top: 6px;
  width: 60px;
}

.colpick_current_color {
  background: #f00;
  height: 25px;
  left: 277px;
  position: absolute;
  top: 6px;
  width: 60px;
}

.colpick_field, .colpick_hex_field {
  background: #f3f3f3;
  border: 1px solid #bdbdbd;
  color: #b8b8b8;
  font-size: 12px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  width: 60px;
}

.colpick_rgb_r {
  left: 207px;
  top: 40px;
}

.colpick_rgb_g {
  left: 207px;
  top: 67px;
}

.colpick_rgb_b {
  left: 207px;
  top: 94px;
}

.colpick_hsb_h {
  left: 277px;
  top: 40px;
}

.colpick_hsb_s {
  left: 277px;
  top: 67px;
}

.colpick_hsb_b {
  left: 277px;
  top: 94px;
}

.colpick_hex_field {
  left: 207px;
  top: 121px;
  width: 130px;
}

.colpick_focus {
  border-color: #999;
}

.colpick_field_letter {
  background: #efefef;
  border-right: 1px solid #bdbdbd;
  color: #777;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  padding: 0 4px;
  position: absolute;
}

.colpick_field input {
  background: transparent;
  border: none;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  right: 15px;
  text-align: right;
}

.colpick_hex_field input {
  background: transparent;
  border: none;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  right: 15px;
  right: 4px;
  text-align: right;
}

.colpick_field_arrs {
  cursor: n-resize;
  height: 21px;
  position: absolute;
  right: 2px;
  top: -1px;
  width: 9px;
}

.colpick_field_uarr {
  border-bottom: 4px solid #959595;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  position: absolute;
  top: 5px;
  width: 0;
}

.colpick_field_darr {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #959595;
  bottom: 5px;
  height: 0;
  position: absolute;
  width: 0;
}

.colpick_submit {
  background: #efefef;
  color: #555;
  font-size: 12px;
  font-weight: bold;
  height: 22px;
  left: 207px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 140px;
  width: 130px;
  &:hover {
    background: #f3f3f3;
    border-color: #999;
    cursor: pointer;
  }
}

.colpick_full_ns {
  .colpick_submit, .colpick_current_color {
    display: none;
  }
  .colpick_new_color {
    height: 25px;
    width: 130px;
  }
  .colpick_rgb_r, .colpick_hsb_h {
    top: 42px;
  }
  .colpick_rgb_g, .colpick_hsb_s {
    top: 73px;
  }
  .colpick_rgb_b, .colpick_hsb_b {
    top: 104px;
  }
  .colpick_hex_field {
    top: 135px;
  }
}

.colpick_rgbhex {
  width: 282px;
  .colpick_hsb_h, .colpick_hsb_s, .colpick_hsb_b {
    display: none;
  }
  .colpick_field, .colpick_submit {
    width: 68px;
  }
  .colpick_new_color {
    border-right: none;
    width: 34px;
  }
  .colpick_current_color {
    border-left: none;
    left: 240px;
    width: 34px;
  }
  .colpick_hex_field {
    width: 68px;
  }
}

.colpick_rgbhex_ns {
  .colpick_submit, .colpick_current_color {
    display: none;
  }
  .colpick_new_color {
    border: 1px solid #8f8f8f;
    width: 68px;
  }
  .colpick_rgb_r {
    top: 42px;
  }
  .colpick_rgb_g {
    top: 73px;
  }
  .colpick_rgb_b {
    top: 104px;
  }
  .colpick_hex_field {
    top: 135px;
    width: 68px;
  }
}

.colpick_hex {
  height: 201px;
  width: 206px;
  .colpick_hsb_h, .colpick_hsb_s, .colpick_hsb_b, .colpick_rgb_r, .colpick_rgb_g, .colpick_rgb_b {
    display: none;
  }
  .colpick_hex_field {
    height: 25px;
    left: 80px;
    top: 168px;
    width: 72px;
    div, input {
      height: 25px;
      line-height: 25px;
    }
  }
  .colpick_new_color {
    border-right: none;
    left: 7px;
    top: 168px;
    width: 30px;
  }
  .colpick_current_color {
    border-left: none;
    left: 40px;
    top: 168px;
    width: 30px;
  }
  .colpick_submit {
    height: 25px;
    left: 164px;
    line-height: 25px;
    top: 168px;
    width: 30px;
  }
}

.colpick_hex_ns {
  .colpick_submit, .colpick_current_color {
    display: none;
  }
  .colpick_hex_field {
    width: 114px;
  }
  .colpick_new_color {
    left: 8px;
    width: 60px;
  }
}

.colpick_dark {
  background: #161616;
  border-color: #2a2a2a;
  &:after {
    border-bottom-color: #161616;
  }
  .colpick_color {
    outline-color: #333;
  }
  .colpick_hue {
    border-color: #555;
  }
  .colpick_field, .colpick_hex_field {
    background: #101010;
    border-color: #2d2d2d;
  }
  .colpick_field_letter {
    background: #131313;
    border-color: #2d2d2d;
    color: #696969;
  }
  .colpick_field input, .colpick_hex_field input {
    color: #7a7a7a;
  }
  .colpick_field_uarr {
    border-bottom-color: #696969;
  }
  .colpick_field_darr {
    border-top-color: #696969;
  }
  .colpick_focus {
    border-color: #444;
  }
  .colpick_submit {
    background: #131313;
    border-color: #2d2d2d;
    color: #7a7a7a;
    &:hover {
      background-color: #101010;
      border-color: #444;
    }
  }
}

.colpick_gray {
  background: #3C4A4D;
  border-color: #3C4A4D;
  &:after {
    border-bottom-color: #3C4A4D;
  }
  .colpick_color {
    outline: 0;
  }
  .colpick_hue {
    border: 0;
  }
  .colpick_field, .colpick_hex_field {
    background: #30393B;
    border-color: #30393B;
    color: #DDD;
  }
  .colpick_field_letter {
    background: #2F393B;
    border-color: #2F393B;
    color: #DDD;
  }
  .colpick_field input, .colpick_hex_field input {
    color: #AAA;
  }
  .colpick_field_uarr {
    border-bottom-color: #696969;
  }
  .colpick_field_darr {
    border-top-color: #696969;
  }
  .colpick_focus {
    border-color: #444;
  }
  .colpick_submit {
    background: #212530;
    color: #7a7a7a;
    &:hover {
      background-color: #101010;
      border-color: #444;
    }
  }
}