
/*
00 - Tag input
------------------------------------------------------------*/
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #555;
  line-height: 20px;
  margin-bottom: 10px;
  min-height: 35px;
  padding: 5px 6px 0px;
  vertical-align: middle;
  input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 12px;
    margin: 0;
    max-width: inherit;
    outline: none;
    text-align: center;
    width: auto !important;
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
  .tag {
    border-radius: 0;
    color: white;
    display: inline-block;
    margin: 0 2px 6px 0;
    padding: 5px 27px 5px 7px;
    position: relative;
    [data-role="remove"] {
      background-color: rgba(0, 0, 0, 0.05);
      cursor: pointer;
      font-family: Arial, Helvetica, sans-serif;
      padding: 5px;
      position: absolute;
      right: 0;
      top: 0;
      &:after {
        content: "x";
        padding: 0px 2px;
      }
      &:hover {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        &:active {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }
      }
    }
  }
}